@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global base styles here */
body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
